.dashboard-ap {
    padding-right: 5%;
}

.dashboard-pd {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard-pd img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.dashboard-pd-heading {
    font-family: Roboto-Bold;
    font-size: 22px;
    color: #EE786C;
    margin-bottom: 5px;
}

.dashboard-pd-heading span {
    font-family: Roboto-Regular;
    font-size: 22px;
    color: #EE786C;
    text-decoration: none;
}

.dashboard-pd-subHeading {
    font-family: Roboto-Regular;
    color: #BABEC6;
    font-size: 14px;
}

.mp-statistics {
    margin: 30px 0px;
    background-color: white;
    padding: 3% 5%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

.mp-statistics-item {
    border-right: 1px solid lightgray;
    padding-left: 5%;
}


.mp-statistics-item img {
    width: 200px;
    height: 80px;
}


@media (max-width: 699px) {
    .dashboard-ap {
        padding: 5%;
    }

}