.about-hero{
    height: 450px;
    background-color: #000000;
    font-size: 100px;
    color: white;
    font-family: Saira;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-a{
    padding: 10%;
    padding-bottom: 0%;
}

.about-heading{
    font-size: 30px;
    font-family: Sarabun-Medium;
    text-align: center;
}

.about-text{
    font-family: DM-Sans;
    color: #606060;
    padding: 20px 15%;
    text-align: center;
    line-height: 27px;
}

/* Skewed Div */
.cus-div{
    width: 100%;
    position: relative;
}

#about-skew2{
    background-color:#F7F7FF;
    z-index: 9;
}
#about-skew3{
    background-color: #FF4A44;
    z-index: 8;
}

.cus-div::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#about-skew1::after,
#about-skew2::after{
    transform-origin: left bottom;
    transform: skewY(3deg);
}

#about-skew3::after{
    transform-origin: right bottom ;
    transform: skewY(-3deg);
}

.skew-helper-up{
    padding: 50px;
    overflow: hidden;
    display: block;
    height: auto;
}

.skew-helper-down{
   height: 80px;
}

.about-content{
    font-weight: bold;
    text-align: center;
    padding: 10%;
    padding-bottom: 0%;
    padding-left: 15%;
    overflow: hidden;
    display: block;
    height: auto;  
}

/* skewed div content styling  */

.skewed-content-alignment{
    display: flex;
    align-items: center;
}

.about-item{
    position: relative;
    margin-bottom: 40px;
}

.about-item-icon{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: -30px;
    left: -30px;
}

.about-item-icon img{
    height: 30px;
    width: 30px;
}

.about-item-content{
    width: 220px;
    height: 168px;
    background-color: white;
    border-radius: 19px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), 5px 5px 10px rgba(0,0,0,0.1);
    padding: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-item-content-heading{
    font-family: Sarabun-Semibold;
    font-size: 18px;
    text-align: left;
}

.about-item-content-text{
    font-size: 14px;
    text-align: left;
}

.about-heading-extra{
    text-align: left;
    margin-top: -80px;
}

.about-heading-mobile{
    display: none;
}

/* about section 3 styling  */

.about-section-3{
    margin-top: 80px;
    text-align: center;
}

.about-sec3-mainContent{
    background-color: white;
    margin: 10%;
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 30px;
    border-radius: 22px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.about-sec3-item{
    margin-bottom: 20px;
}

.about-sec3-item-heading{
    display: inline-block;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.about-sec3-item-heading-border{
    width: 10px;
    position: absolute;
    padding: 8px 0px;
    border-radius: 8px;
    font-size: 20px;
}

.about-sec3-item-heading-content{
    padding: 8px 30px;
    font-size: 20px;
    font-style: Sarabun-SemiBold;
}

.about-sec3-item-description{
    text-align: left;
}

/* about section 4 styling  */

.about-section-4{
    text-align: center;
}

.about-sec4-mainContent{
    background-color: rgba(255, 74, 68, 0.05);
    padding: 50px 10%;
}

.about-sec4-text{
    margin-bottom: 50px;
}

.about-section4-iconBox{
    display: flex;
}

.about-section4-icon{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(255, 74, 68,0.1),-5px -5px 10px rgba(255, 74, 68,0.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.about-section4-icon img{
    width: 50px;
    height: 50px;
}

.about-sec4-icon-text{
    color:rgba(255, 74, 68, 0.1);
    font-size: 120px;
    font-family: Sarabun-Semibold;
}

.about-sec4-item-heading{
    font-size: 28px;
    font-family: Sarabun-Semibold;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 10px;
}

.about-sec4-item-description{
    text-align: left;
    line-height: 25px;
    padding-right: 15px;
}

.about-sec4-item2{
    margin-top: 80px;
}

/* about section 5  */

.about-sec-5{
    position: relative;
    overflow: hidden;
}

.about-sec5-header{
    text-align: center;
    margin-top: 150px;
}

.about-sec5-circle{
    width: 950px;
    height: 950px;
    border-radius: 50%;
    background-color:rgba(193, 240, 253, 1);
    position: absolute;
    right: -500px;
    top:100px;
    z-index: -1;
}

.about-sec5-header-img{
    width: 400px;
    z-index: 2;
    margin-top: 50px;
    margin-left: -100px;
}

.about-sec5-body{
    padding: 0% 8%;
}

.about-sec5-item{
    background-color: #F1F1FB;
    padding: 30px 25px;
    border-radius: 19px;
}

.about-sec5-item-heading{
    font-size: 28px;
    font-family: Sarabun-SemiBold;
    margin-bottom: 20px;
}

.about-sec5-item-description{
    line-height: 28px;
}

.about-sec5-item-description span{
    color: #2B72C2;
    text-decoration: underline;
    cursor: pointer;
}

.about-sec5-item-logoBox{
    background-color: white;
    border-radius: 25px;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}


.about-sec5-item-lower-text{
    font-size: 20px;
}

.about-sec5-item-lower-text span{
    color: #2B72C2;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

.about-sec5-item-lower-text font{
    color: #F1F1FB;
}





@media (max-width: 899px ){
    .about-heading-extra{
        display: none;
    }
}


@media (max-width: 699px ){
    .about-hero{
        font-size: 40px;
        height: 200px;
    }

    .about-heading{
        font-size: 18px;
    }

    .about-text{
        padding: 15px 0px;
        line-height: 24px;
    }

    .about-content{
        padding: 20%;
        padding-bottom: 10%;
    }

    .about-heading-mobile{
        display: block;
        margin-bottom: 80px;
        font-size: 35px;
    }

    /* section 3  */

    .about-section-3{
        margin-top: 40px;
    }

    .about-sec3-mainContent{
        padding: 25px;
    }

    .about-sec3-item-heading-content{
        font-size: 17px;
    }

    .about-sec3-item-heading{
        margin-bottom: 8px;
    }

    .about-sec3-item-description{
        text-align: justify;
        line-height: 22px;
        font-size: 14px;
    }

    /* section 4  */

    .about-section-4{
        margin-top: 80px;
    }

    .about-sec4-text{
        padding: 15%;
        padding-top: 10%;
        margin-bottom: 0px;
    }

    .about-sec4-item{
        margin-bottom: 20px;
    }

    .about-sec4-item2{
        margin-top: 0px;
    }

    /* section 5  */

    .about-sec5-circle{
        display: none;
    }

    .about-sec5-header{
        margin-top: 60px;
    }

    .about-sec5-header-img{
        width: 100%;
        z-index: 2;
        margin: 10px auto;
        margin-top: -20px;  
    }

    .about-sec5-item-lower-text{
        font-size: 18px;
    }

    .about-sec5-item-lower-text span{
        font-size: 20px;
    }

    .about-sec5-item-lower-text font{
        display: none;
    }

}