.mainCheckBox {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    max-width: 90%;
    width: 428px;
    height: 50px;
    margin-bottom: 3px;
}

span {
    color: black;
    text-decoration: underline;
}

.cb-icon {
    width: 15px;
    height: 15px;
}

@media (max-width: 699px) {
    .mainCheckBox {
        margin-bottom: 10px;
    }
}