@font-face {
  font-family: Poppins;
  src: url('/font/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/font/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Sarabun-Regular;
  src: url('/font/Sarabun/Sarabun-Regular.ttf');
}

@font-face {
  font-family: Sarabun;
  src: url('/font/Sarabun/Sarabun-Regular.ttf');
}

@font-face {
  font-family: Sarabun-Medium;
  src: url('/font/Sarabun/Sarabun-Medium.ttf');
}

@font-face {
  font-family: Sarabun-SemiBold;
  src: url('/font/Sarabun/Sarabun-SemiBold.ttf');
}

@font-face {
  font-family: Sarabun-Bold;
  src: url('/font/Sarabun/Sarabun-Bold.ttf');
}

@font-face {
  font-family: Saira;
  src: url('/font/Saira_Stencil_One/SairaStencilOne-Regular.ttf');
}

@font-face {
  font-family: DM-Sans;
  src: url('/font/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url('/font/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('/font/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url('/font/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('/font/Roboto/Roboto-Bold.ttf');
}

/* styling  */



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Sarabun;
  /* color: black; */
  /* user-select: none; */
}

body {
  background-color: #F7F7FF;
}

.welcomeHeading {
  font-family: Poppins;
  font-size: 26px;
  margin: 20px 0px;
}

.text1 {
  font-size: 17px;
}

.heading {
  font-size: 40px;
  font-style: Sarabun-Semibold;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  background-color: #FF4A44;
  color: white;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 0px 20px;
  font-weight: bold;

}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}

/* margins  */

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

/* adminPanel table  */
.ap-table-data {
  width: 100%;
  min-height: 320px;
  margin: 40px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 3%;
}

.ap-upperMost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ap-add-user-btn {
  font-size: 14px;
  color: white;
  background-color: #16C098;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.ap-add-user-btn:hover {
  opacity: 0.8;
}

.ap-table-data-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ap-table-data-heading {
  font-family: Sarabun-SemiBold;
  font-size: 22px;
  color: black;
  margin-bottom: 8px;
}

.ap-table-data-subHeading {
  font-family: Sarabun-Regular;
  font-size: 14px;
  color: #16C098;
}



.ap-table-data-header-right {
  display: flex;
  gap: 30px;
}

.ap1-searchBox {
  display: flex;
  align-items: center;
  width: 216px;
  height: 38px;
  border-radius: 10px;
  background-color: #F5F5F5;
  padding: 5px 10px;
  gap: 10px;
}

.ap1-searchBox img {
  width: 20px;
  height: 20px;
}



.ap1-selectBox {
  background-color: #F5F5F5;
  height: 38px;
  width: 154px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 12px;
  font-family: Sarabun-SemiBold;
}

.ap1-selectBox span {
  font-size: 12px;
  font-family: Sarabun;
  text-decoration: none;
}

.table-data-headings-Box {
  margin-top: 20px;
  padding: 15px 0px;
  border-bottom: 1px solid lightgray;

}

.table-data-heading {
  font-size: 14px;
  color: #B5B7C0;
}

.table-data-content-item {
  padding: 20px 0px;
  border-bottom: 1px solid lightgray;
}

.table-data-item-text {
  font-size: 14px;
  color: #292D32;
}

.table-data-content-item span {
  text-decoration: none;
  font-family: Sarabun-SemiBold;
  display: none;
}

.table-data-item-btns {
  display: flex;
  gap: 20px;
}



.ap-edit-btn {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  background-color: navy;
  color: white;
  border-radius: 5px;
}

.ap-edit-btn:hover {
  opacity: 0.8;
}

.ap-delete-btn {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.ap-delete-btn:hover {
  opacity: 0.8;
}

.ap-assign-btn {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #16C098;
  color: white;
  border-radius: 5px;
}

.ap-assign-btn:hover {
  opacity: 0.8;
}

.ap-pagination-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.ap-pagination-style div {
  margin-top: -5px;
}

.ap-pagination-style span {
  text-decoration: none;
  cursor: pointer;
}

.ap-pagination-style span:hover {
  color: #FF4A44;
  transition: 0.5s ease;
}

.ap-userModal-style {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ap-userModal-content {
  padding: 40px;
  padding-right: 0px;
  background-color: white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.ap-modal-cancel-icon {
  margin-top: -25px;
  margin-left: -20px;
  cursor: pointer;
}

.ap-modal-cancel-icon:hover {
  color: #FF4A44;
  transition: 0.5s ease;
}






@media (max-width: 699px) {
  * {
    font-size: 14px;
  }

  .ap-table-data-header-right {
    display: none;
  }

  .table-data-headings-Box {
    display: none;
  }

  .table-data-content-item {
    margin: 20px 10px;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 10px;
  }

  .table-data-content-item span {
    display: inline-block;
    margin-right: 8px;
  }

  .ap-upperMost {
    display: block;
  }

  .ap-add-user-btn {
    margin-left: auto;
    max-width: 120px;
    margin-right: 0px;
    margin-top: 20px;
  }
}